/* 修改整个顶部导航栏的背景色 */
.md-header-nav {
    background-color: #d90303;  /* 修改为你希望的背景颜色 */
  }
  
  /* 修改未激活 tab 的背景色和文字颜色 */
  .md-header-nav .md-header-nav__link {
    background-color: #c98989; /* 与整个导航栏颜色一致或自定义 */
    color: #333333;
  }
  
  /* 修改激活状态的 tab 背景色和文字颜色 */
  .md-header-nav .md-header-nav__link--active {
    background-color: #dbe0e3 !important; /* 激活 tab 的背景色 */
    color: #791515 !important;
  }

  /* 显示所有表格内的竖线和横线 */
table, th, td {
  border: 1px solid #ccc; /* 边框颜色可根据需要调整 */
  border-collapse: collapse;
}

/* 为单元格添加内边距，使内容更美观 */
th, td {
  padding: 8px;
}


